.swal2-popup .swal2-file:focus,
.swal2-popup .swal2-input:focus,
.swal2-popup .swal2-textarea:focus {
    border: 1px solid rgb(121, 121, 121) !important;
    box-shadow: 0 0 3px rgb(200, 200, 200) !important;
}

.swal2-actions {
    display: block !important;
}

.swal2-popup .swal2-actions {
    margin: 0 !important;
}

.swal2-cancel {
    float: left;
}

.swal2-confirm {
    float: right;
}

.swal2-popup .swal2-validationerror {
    font-weight: bold !important;
    margin-bottom: 5px;
}

.swal2-popup .swal2-content {
    font-weight: normal !important
}

.swal2-c-text {
    font-weight: bold;
    white-space: pre;
    cursor: copy;
}
